@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --clr-tosca: #5EA3A3;
    --clr-light-tosca: #77bbbb;
    --clr-lighter-tosca: #ADD2C9;
}

html,
body {
    height: 100vh;
    margin: 0;
}

.notes {
    display: flex;
    height: 100%;
}

.notes * {
    font-family: 'Mukta', sans-serif;
}

.notes__sidebar {
    border-right: 2px solid #dddddd;
    padding: 1em;
    width: 300px;
    height: 100vh;
    overflow: scroll;
}

.notes__new {
    background: var(--clr-tosca);
    border: none;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
    transition: 0.25s;
}

.notes__new:hover {
    background: var(--clr-light-tosca);
}

.notes__add {
    background: var(--clr-tosca);
    border: none;
    border-radius: 100%;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 1.5em;
    width: fit-content;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: 0.25s;
}

.notes__add:hover {
    background: var(--clr-light-tosca);
}

.notes__list {
    margin-bottom: 0.5em;
}

.notes__list-item {
    cursor: pointer;
}

.notes__list-item--selected {
    background: #f8f8f8;
    border-radius: 7px;
}

.notes__list-item--selected:hover {
    background: #ebebeb;
}

.notes__small-title {
    padding: 10px 14px;
    font-weight: bold;
    font-size: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notes__small-body {
    padding: 0 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notes__small-updated {
    padding: 10px 0;
}

.notes__small-updated,
.btn-del {
    color: #aaaaaa;
    font-style: italic;
    text-align: right;
}

.notes__preview {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}

.notes__title,
.notes__body {
    border: none;
    outline: none;
    width: 100%;
}

.notes__title {
    font-size: 2em;
    font-weight: bold;
}

.notes__body {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 1.5em;
    resize: none;
}

.btn-del {
    font-size: large;
    padding-right: 0.5em;
    transition: 0.25s;
}

.btn-del:hover {
    color: var(--clr-tosca);
    font-size: larger;
}